<label>
  Ім'я
  <input type="text" name="name" value="<%= student.name %>" />
</label><br />

<label>
  Група
  <input type="text" name="group" value="<%= student.group %>" />
</label><br />

<input type="submit" value="Зберегти" />
